 cat .env
# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://ollama:11434'
OPEN_WEB
OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false
#DISABLE_MODEL_SELECTOR=true
USER_PERMISSIONS_CHAT_FILE_UPLOAD=False
ENABLE_CODE_INTERPRETER=False
ENABLE_CODE_EXECCUTION=False
USER_PERMISSIONS_FEATURES_CODE_INTERPRETER=False
ENABLE_WHISPER=false
ENABLE_TTS=false
ENABLE_CODE_EXECUTION=False
SHOW_ADMIN_DETAILS=False
ENABLE_WHISPER=false
DEFAULT_USER_ROLE=user
OAUTH_ALLOWED_ROLES=['user']
OAUTH_ADMIN_ROLES=[]

